body{
  font-family:'Lato', sans-serif;
}

.container{
  max-width: 11400px;
  margin-left:auto ;
  margin-right: auto;
}
.d-flex{
  display: flex;
}
.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-nav-imet{
  display: inline-flex;
  padding: 4px 13px;
}
.main-nav-link{
  padding: 8px;
  text-decoration: none;
  color: #4F5665;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.main-btn{  
  border-radius: 50px;
  background: #FCFFFF; 
  
}
.main-btn:hover{
  box-shadow: 0 12px 16px 0;
  color: #970606;
}
.main-btn-white{
  padding: 13px;
  color: #0B132A;
  border: transparent;
  transition-property: color;
  transition-duration: 0.2s;
}

.main-btn-red{ 
  padding: 13px 45px;
  color: #F53855;
  border-radius: 50px;
  border: 2px solid #F53855;
  transition-property: color;
  transition-duration: 0.2s;
}
.title{
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
  color: #0B132A;

}
.main-flex-one{
  width: 556px;
 display: flex;
 flex-direction: column;
  justify-content: flex-start;
 align-items: flex-start;
}
.text{
  font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.main-btn-pink{
  box-shadow: 0 12px 16px 0;
  color: #FCFFFF;;
  padding: 17px 80px;
  background:  #F53855;
  border-radius: 10px;
  border: 2px solid #F53855;
  transition-property: color;
  transition-duration: 0.2s;
}
.main-btn-pink:hover{
  color: #c4122c;
  background: #FCFFFF;
}
.main-btn-tran{
  min-width: 222px;
  height: 60px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
}
.main-flex-two{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.common-contaner{
  display: flex;

}
.colum-4{
  justify-content: flex-end;
  align-items: flex-start;

}
.chapter-catalog{
width: 384px;
height: 100px;
}
.clarification{
font-size: 16px;
line-height: 30px;
}
.rewrite{
  font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.information{
  padding: 60px 99px ;
background: #FCFFFF;
border-radius: 10px;
}
.information-con{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
}
.asideм-footer{

}
.information-text{
  font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #4F5665;
}
.colum-5{
   margin: 10px;
padding: 90px;
  background: #FCFFFF;
border: 2px solid #DDDDDD;
box-sizing: border-box;
border-radius: 10px;
}
.box{
display: flex;
  justify-content: center;
}
.title-two{
  font-weight: 500;
font-size: 35px;
line-height: 50px;
color: #0B132A;
}
.plan{
  
text-align: center;
color: #0B132A;
}
.bulit{
  list-style-type: none;
}
.genus{
  color: #4F5665;
}
.price{
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #0B132A;
}
.bttun-pink{
  box-shadow: 0 12px 16px 0;
  color: #FCFFFF;
  padding: 13px 45px; ;
  background:  #F53855;
  border-radius: 50px;
  border: 2px solid #F53855;
  transition-property: color;
  transition-duration: 0.2s;
}

.bttun-pink:hover{
  color: #c4122c;
  background: #FCFFFF;
}
.bttun-pink-br{
  width: 127.38px;
height: 45px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 60px;
}
.colum-6{
  margin: 10px;
  padding: 30px;
  width: 360px;
  height: 277px;
  background: #FCFFFF;
  
  box-sizing: border-box;
  border-radius: 10px;
}
.col-red{
  border: 2px solid #F53838;
}
.col-gray{
border: 2px solid #DDDDDD;
}
.rectangle{
padding: 60px 98px;
}
.rig{
  flex-wrap: wrap;
  justify-content: flex-end;
}
.column-left{

  justify-content: flex-start;
  align-items: flex-start;
}
.column-rig{
  justify-content: flex-end;
  align-items: flex-start;
}
.circle{
  border-radius: 50px;
   min-width: 60px;
min-height: 60px;
margin: 10px;

}
.circle-white{
  background: #FCFFFF;
  border: 2px solid #F53838;

}
.circle-red{
 
background: #F53838;
border: 2px solid #F53838;


}

.horizontally{

}
.footer-main{
  width: 340px;
 height: 62px;
  font-weight: 500;
 font-size: 16px;
 line-height: 30px;
 color: #4F5665;
}
.user-link{ 
color: #F53838 ;
-webkit-background-clip: text;
background-clip: text;
background:#FFECEC;
border-radius: 70px;
width: 55px;
height: 55px;
padding: 15px;
}
.ticks{
  list-style-image: url("C:\Users\Андрій\LaslesVPN\LaslesVPN\img\men.png");
}
.color-left{
  color: #F53838 ;
  
}
.color-right{
  color: #FCFFFF;
}
.but-right{
  display: flex;
justify-content: flex-end;


}
.star-color{
color: #FEA250;
}
.colum-7{
  display: flex;
  justify-content: space-between;
flex-wrap: nowrap;
}